html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding-left: 10px;
}

#map-container{
	max-width: 100%;
	justify-content: flex-start;
}

#map {
	height: 610px;
	width: 83%;
	margin: 0;
	padding: 0;
}

#nav-bar {
	width: 15%;
	margin: 0;
	padding: 0;
}

#header, #map-container {
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: flex-start;
	align-items: flex-start;
}

#header {
	justify-content: space-around;
}


.hed-butt {
	margin-top: 25px;
}